#DiscoverHeader{
    color: #EBF1EC;
    background: #7FBFE2;

    margin: 30px;
    padding: 30px;
    border-radius: 25px;
    max-width: 100%;
}

#DiscoverHeaderText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 77px;
    margin-left: 40px;

    color: #EBF1EC;
}   

.card {
    flex-basis: 33.333333%;
    padding: 30px;
}

.card-title {
    font-size: 40px;
    line-height: 52px;
}

.card-subtitle {
    line-height: 42px;
}

.card-text {
    font-size: 20px;
}

.singularCard{
    margin: 30px;
    display: flex;
    justify-content: center;
}

#gsearch, .categoryDropDown {
    color: black;
    font-family: 'Inter';
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
}

.categoryDropDownChoice{
    color: black;
    font-family: 'Inter';
}

.center {
    padding: 5%;  
}

.discover-card {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}