.color-nav {
    background-color:#0E1162;
}

* {
    color: white;
}

Link {
    text-decoration: none;
}

/* .sign-in-button {
    border-width: 0;
    background-color: #28A334;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
} */
