.boxLink {
    text-decoration: none;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-track {
    background-color: 'black';
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: 'black';
  }
  
  .AssignmentCard {
    padding: 10px;
    transition: 0.2s;
  }
  
  .card:hover {
    transform: scale(1.02, 1.02);
    box-shadow:  1px 8px 20px 0px rgba(110, 161, 148, 0.502);
  }
  